<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Colab</title>
</head>
<body>
    <h1>Text Colab</h1>

    <div id="messages"></div>
    <input id="message" type="text">
    <button id="send">Send Message</button>

    <br>
    <br>
    <br>
    <h1 id="room-id">RoomId:</h1>
    <button id="create" >Create</button>
    <br>
    <br>
    <input type="text" name="room-code" id="room-code">
    <button id="join" >Join</button>
    <br>
    <br>
    <button id="leave">Leave</button>
    <br>
    <br>
    <input id="txt" type="text">
    <button id="txt-send">Send txt</button>

</body>
</html>

<script>
    const url = `ws://localhost:3001`;
    const server = new WebSocket(url); //websocket server

    ////////////////////////Other/////
    const createButton = document.getElementById('create');
    const joinButton = document.getElementById('join');
    const leaveButton = document.getElementById('leave');
    const txtInput = document.getElementById('txt');
    const sendTxt = document.getElementById('txt-send');
    const roomId = document.getElementById('room-id');

    createButton.addEventListener('click', function (e) {
        server.send('{ "type": "create" }');
        // console.log('created');
    });

    joinButton.addEventListener('click', function (e) {
        const code = document.getElementById("room-code").value;
        const obj = { "type": "join" , "params": { "code": code }}
        server.send(JSON.stringify(obj));
        // console.log('joined');
        
    });

    leaveButton.addEventListener('click', function (e) {
        server.send('{ "type": "leave" }');
        console.log('leave');
    });

    sendTxt.addEventListener('click', function (e) {
        // console.log(getRoomId(roomId.innerText));
        // console.log(roomId.innerText.split(':')[1]);
        const room = getRoomId(roomId.innerText);
        const obj = { type: "write" , 
                      params: { 
                                txt: txtInput.value,
                                roomId: room
                              }
                    };
        server.send(JSON.stringify(obj));
    })



    /////////////////////////////////

    const message = document.getElementById('messages');
    const input = document.getElementById('message');
    const button = document.getElementById('send');


    const getRoomId = function(roomId) {
        console.log(roomId);
        return roomId.split(':')[1];
    } 

    button.disabled = true;
    button.addEventListener('click', sendMessage, false);

    server.onopen = function() {
        button.disabled = false
    }

    server.onmessage = function(event) {
        const { data } = event;
        const parsedData = JSON.parse(data);

        
        if (parsedData.params.room) {
            console.log('create');
            console.log(parsedData.params.room);
            roomId.innerText = `RoomId:${parsedData.params.room}`
        } else {
            console.log(parsedData);
        }

        

        // generateMessageEntry(data, 'Server');

    }

    function generateMessageEntry(msg, type) {
        const newMessage = document.createElement('div');
        newMessage.innerText = `${type} says ${msg}`;
        message.appendChild(newMessage)
    }

    function sendMessage() {
        const text = input.value;
        generateMessageEntry(text, 'Client');
        server.send(text)
    }
</script>